<form id="new-baby" idclass="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input-username">Username</label>
      <div class="controls">
        <input class="input-xlarge" name="username" id="input-username" rows="3"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-firstname">First Name</label>
      <div class="controls">
        <input class="input-xlarge" name="first_name" id="input-firstname" rows="3"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-lastname">Last Name</label>
      <div class="controls">
        <input class="input-xlarge" name="last_name" id="input-lastname" rows="3"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-birthday">Birthday</label>
      <div class="controls">
        <input class="input-xlarge datepicker" name="birthday" id="input-birthday" rows="3"></input>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </fieldset>
</form>
